* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to left, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.containerPaginaPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.nav {
  display: flex;
  border-radius: 5px;
  margin: 1%;
  justify-content: space-between;
}

.navImg {
  height: 50px;
  margin: 0 10px;
}

.borde {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.boton {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
  font-size: 1.5rem;
}

.descripcion {
  color: rgb(255, 255, 255);
  margin: 2%;
  font-size: 2.5rem;
}

.subtitulo {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 2%;
}

.main {
  grid-area: main;
}

#productosCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.descripcionCard {
  display: flex;
  flex-direction: column;
}

.descripcionCard2 {
  display: flex;
  justify-content: space-between;
}

.botonDelCarrito {
  width: 50px;
  margin-left: 50px;
  padding: 5px;
}

.carritoCard {
  width: 40px;
}

.estilocards {
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  margin: 20px;
  width: 250px;
}

.ropaCards {
  width: 250px;
  height: 300px;
  background-color: black;
  padding: 0 20px;
  border-radius: 5px;
}

.footer {
  grid-area: footer;
}

.infoDelCarrito {
  color: rgb(255, 255, 255);
  margin: 1% 6%;
}

#contendorDelCarrito {
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.tarjetaDelCarrito {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  padding: 10px;
}

.pDelCarrito {
  font-size: 1.5rem;
  color: black;
}

.eliminarTarjeta {
  width: 60px;
  padding: 10px;
}

.separacionCard {
  padding: 0 5px;
}

.comprarCarrito {
  margin: 1% 5%;
}